.container__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

} 

 .content__card img {
    width: 100%;
    
    border-radius: 50%;

}

.content__card {
    border: 2px solid red;
    padding: 20px;
    
}

.bar__progress {
    background-color: green;
    height: 30px;
}

.content__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 25%;
    margin: 0 auto;
    transform: scale(0);
    transition: transform 0.5s;
    background-color: rgba(0, 0, 255, 0.403);
    color: white;

}

.modal-show {
    transform: scale(1);
    backdrop-filter: blur(5px);
    
}